@import "common.scss";

#buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 0 0;

  .button {
    margin: 0 5px;
    padding: 5px 10px;
    min-width: 100px;
    border-radius: 10px;
    cursor: pointer;

    &.clear{
        background-color: #f00;
        color: white;;
    }
  }
  .option {
    margin: 0 5px;
    padding: 5px 10px;
    min-width: 50px;
    border-radius: 10px;
    cursor: pointer;

    imput, label{
        cursor: pointer;
    }
}
}

#output {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 100px;


  .todo {
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid rgba(21, 0, 255, 0.501);
    width: 100%;

    .todo-id{
        min-width: 30px;
        padding: 0 5px;
    }
    .todo-text{
        font-size: 30px;
        font-family: 'Square Peg', cursive;
    }
  }
}

#show-more{
    height: 10px;
    display: block;
}


